body {
	position: relative;
	margin: 0;
	padding: 0;
	line-height: 1.2;
	font-family: Montserrat, Arial, sans-serif;
	font-display: swap;
	background: rgb(18, 0, 30) url("../img/body-bg.jpg") no-repeat center;
	background-size: cover;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}
